<!-- 

<div _ngcontent-c9="" class="suggestions full-width">
  <div _ngcontent-c9="" class="sd-title">
    <h3 _ngcontent-c9="">Suggestions</h3><i _ngcontent-c9="" class="la la-ellipsis-v">

    </i></div>
    <div _ngcontent-c9="" class="suggestions-list">
      <div _ngcontent-c9="" class="suggestion-usd">
        <img _ngcontent-c9="" alt="" src="http://via.placeholder.com/35x35">
        <div _ngcontent-c9="" class="sgt-text">
          <h4 _ngcontent-c9="">Jessica William</h4>
          <span _ngcontent-c9="">Graphic Designer</span>
        </div><span _ngcontent-c9="">
          <i _ngcontent-c9="" class="la la-plus"></i>
        </span></div><div _ngcontent-c9="" class="suggestion-usd">
          <img _ngcontent-c9="" alt="" src="http://via.placeholder.com/35x35">
          <div _ngcontent-c9="" class="sgt-text">
            <h4 _ngcontent-c9="">John Doe</h4>
            <span _ngcontent-c9="">PHP Developer</span></div>
            <span _ngcontent-c9=""><i _ngcontent-c9="" class="la la-plus"></i></span>
          </div>
          <div _ngcontent-c9="" class="suggestion-usd">
            <img _ngcontent-c9="" alt="" src="http://via.placeholder.com/35x35">
            <div _ngcontent-c9="" class="sgt-text">
              <h4 _ngcontent-c9="">Poonam</h4>
              <span _ngcontent-c9="">Wordpress Developer</span>
            </div>
            <span _ngcontent-c9="">
              <i _ngcontent-c9="" class="la la-plus"></i>
            </span>
          </div>
          <div _ngcontent-c9="" class="suggestion-usd">
            <img _ngcontent-c9="" alt="" src="http://via.placeholder.com/35x35">
            <div _ngcontent-c9="" class="sgt-text">
              <h4 _ngcontent-c9="">Bill Gates</h4>
              <span _ngcontent-c9="">C &amp; C++ Developer</span>
            </div>
            <span _ngcontent-c9=""><i _ngcontent-c9="" class="la la-plus"></i></span>
          </div><div _ngcontent-c9="" class="suggestion-usd">
            <img _ngcontent-c9="" alt="" src="http://via.placeholder.com/35x35">
            <div _ngcontent-c9="" class="sgt-text">
              <h4 _ngcontent-c9="">Jessica William</h4><span _ngcontent-c9="">Graphic Designer</span></div><span _ngcontent-c9=""><i _ngcontent-c9="" class="la la-plus"></i></span>
            </div>
            <div _ngcontent-c9="" class="suggestion-usd">
              <img _ngcontent-c9="" alt="" src="http://via.placeholder.com/35x35">
              <div _ngcontent-c9="" class="sgt-text">
                <h4 _ngcontent-c9="">John Doe</h4><span _ngcontent-c9="">PHP Developer</span>
              </div>
              <span _ngcontent-c9=""><i _ngcontent-c9="" class="la la-plus">

              </i></span></div>
              <div _ngcontent-c9="" class="view-more">
                <a _ngcontent-c9="" href="#" title="">View More</a></div></div></div> -->