
    <div class="user-data full-width">
      <div class="user-profile">
        <div class="username-dt">
          <div class="usr-pic">
            <img src="assets/images/pf-icon1.png" alt="">
          </div>
        </div><!--username-dt end-->
        <div class="user-specs">
          <h3>Susobhan Dey</h3>
          <span>susobhan.dey@gmail.com  </span><br>
          <span>Pune</span>
        </div>
      </div><!--user-profile end-->
      <ul class="user-fw-status">
        <li>
          <a href="search/posts/cricket" title="">#Cricket</a>
        </li>
        <li>
          <a href="search/posts/soccer" title="">#Soccer</a>
        </li>
        <li>
          <a href="search/posts/badminton" title="">#Badminton</a>
        </li>
      </ul>
    </div><!--user-data end-->
    
